.reborn
  span = "RAILS_ENV : #{ENV['RAILS_ENV']}"
sass:
  .reborn
    color: #8db8ef
    font-size: 20px
    position: fixed
    width: auto
    height: auto
    line-height: 60px
    left: 100px
    z-index: 10000
    text-align: center
